////// --- UTILS --- //////

// === VARIABLES ===

// colorbook

$dark: hsl(200, 55%, 10%);
$light-dark: hsl(190, 65%, 15%);
$light: hsl(200, 55%, 95%);
$neutro: hsl(195, 20%, 45%);
$accent: hsl(195, 95%, 50%);

// effects
$r-main: .25rem;

// sizing
$ADDRESS_BAR: 6rem; // 96px
$MIN_TOUCH_SIZE: 2.75rem; // 44px
$content: 46rem;

// === MIXINS ===
@mixin for-content {
  @media screen and (min-width: $content) {
    @content;
  }
}

////// --- BASE --- //////

// === RESET ===
body, h2, h3, p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

// === MAIN ===
body {
  background-color: $dark;
  color: $light;
  font-family: sans-serif;
}

////// --- COMPONENTS --- //////
.champion {
  margin-bottom: 1em;
  border: none;
  border-radius: $r-main;
  padding: .25em;
  background-color: transparent;
  
  display: inline-flex;
  flex-direction: column;
  
  position: relative;

  &--result {
    margin-bottom: 0;
  }

  &--button {
    &::before {
      content: '';
      position: absolute;
      top: 3rem;
      right: .15em;
  
      width: 1.25rem;
      height: 1.5rem;
      padding: 0em 0 0 .25em;
      border-radius: $r-main*5 0 0 0;
      background-color: $light-dark;
      background-image: url(../assets/check.svg);
      background-repeat: no-repeat;
      background-position: 80% 50%;
      background-size: 60%;
      color: $accent;
      font-size: 1rem;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      z-index: 1;
      opacity: 0;
    }
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      
      width: 100%;
      height: 100%;
      border-radius: $r-main;
      background-color: $light-dark;
  
      transition: opacity 250ms ease-in-out;
      opacity: 0;
      z-index: -1;
    }
  
    &:hover::after {
      opacity: .5;
    }
  }

  &--button:hover &__image--hover {
    opacity: 1;
  }

  &--button.--selected {
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 1;
    }
  }

  &--button.--selected &__image--hover {
    opacity: 1;
  }
  
  &__image {
    $size: 4rem;
    width: $size;
    height: $size;
    border-radius: $r-main;
    object-fit: cover;
    margin-bottom: .25em;

    &--default {
      filter: grayscale(100%);
    }

    &--hover {
      position: absolute;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
  }

  &__name {
    color: $light;
    font-size: .75rem;
    font-weight: 400;
  }

}

.loader {
  margin: 5rem auto 0 auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 0 .5rem $light-dark;
  animation: loading 1000ms infinite linear;
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .5rem solid transparent;
    border-top-color: $accent;
    box-sizing: border-box;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

////// --- LAYOUT --- //////
.wrapper {
  width: $content;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: .75rem;
}

.header {
  margin-bottom: 1em;

  display: flex;
  justify-content: space-between;

  &__logo {
    border: none;
    background-color: transparent;
    color: $accent;
    font-size: 1rem;
    text-decoration: none;
  }

  &__title {
    color: $neutro;
    font-size: .875rem;
    letter-spacing: .05em;
  }
}

.info {
  position: relative;
  margin-bottom: 1em;

  z-index: 2;

  &__paragraph {
    width: 70%;
  }

  &__counter {
    position: fixed;
    top: 2.75rem;
    right: 0;

    padding: .5em .75em .5em 1em;
    font-size: 1.25rem;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: .05em;

    @include for-content {
      position: absolute;
      top: 0;
    }
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;

      width: 100%;
      height: 100%;
      border-radius: $r-main 0 0 $r-main;
      background-color: $light-dark;
    
      z-index: -1;
    }
  }
}

.selection {
  &__champions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__heading {
    width: 100%;
    margin: .75em 0;
    font-size: .8125rem;
    font-weight: 700;
    letter-spacing: .05em;
  }

}

.results {
  &__table {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  &__header {
    color: $neutro;
    font-size: .75rem;
    letter-spacing: .1em;
  }
  
  &__damage {
    font-size: .815rem;
    font-weight: 700;
    letter-spacing: .1em;
  }
}
